jaws-includes/config.php
.idea/scopes/scope_settings.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Just-Another-Webshop.iml
.idea/vcs.xml
GitHub/Just-Another-Webshop/.idea/encodings.xml
GitHub/Just-Another-Webshop/.idea/scopes/scope_settings.xml
GitHub/Just-Another-Webshop/.idea/workspace.xml
img/*
