RewriteEngine on 

# Home
RewriteRule ^/{0,1}$ 										/index.php?home [QSA]

# Admin
RewriteRule ^admin/([a-ö]{1,})*/*$ 							/index.php?admin=$1 [QSA]
RewriteRule ^admin/(search)/([a-ö0-9]{1,})*/*$ 				/index.php?admin=$1&search=$2 [QSA]
RewriteRule ^admin/(products)/([0-9]{1,})*/*$ 				/index.php?admin=$1&product=$2 [QSA]
RewriteRule ^admin/(orders)/([0-9]{1,})*/*$ 				/index.php?admin=$1&order=$2 [QSA]
RewriteRule ^admin/(users)/([0-9]{1,})*/*$ 					/index.php?admin=$1&user=$2 [QSA]

# Category
RewriteRule ^(products)/([a-ö\-_]{1,})/*$ 					/index.php?$1&category=$2 [QSA]

# Product
RewriteRule ^(products)/([a-ö\-_]{1,})/([0-9]{1,})+.*/*$ 	/index.php?$1&category=$2&product=$3 [QSA]

# Login/Register
RewriteRule ^(login|register|sign-up|sign-in)/*$ 			/index.php?login [QSA]

# Cart
RewriteRule ^cart/([a-ö]{1,})*/*$ 							/index.php?cart=$1 [QSA]

# Settings
RewriteRule ^settings/([a-ö]{1,})*/*$ 						/index.php?settings=$1 [QSA]

# Search
RewriteRule ^search/([a-ö0-9]{1,})*/*$ 						/index.php?search=$1 [QSA]

# Page
RewriteRule ^([a-ö]{1,})/*$ 								/index.php?$1 [QSA]

# 404
ErrorDocument  404  										/index.php?404
RewriteRule ^([a-ö0-9]*)$ 									/index.php?404=$1 [QSA]