RewriteEngine on 

# Home
RewriteRule ^/{0,1}$	/jaws-content/page-home.php [QSA]

# Admin
RewriteRule ^admin/*$												/jaws-content/page-admin.php [QSA]
RewriteRule ^admin/(search|products|taxanomies|orders|users)?/*$	/jaws-content/page-admin-$1.php [QSA]
# RewriteRule ^admin/(search)/([a-ö0-9]{1,})*/*$					/jaws-content/page-admin-search.php?search=$2 [QSA]
RewriteRule ^admin/(products)/(new|[0-9]{1,})*/*$					/jaws-content/page-admin-product.php?product=$2 [QSA]
RewriteRule ^admin/(taxanomies)/(new|[0-9]{1,})*/*$					/jaws-content/page-admin-taxanomy.php?taxanomy=$2 [QSA]
RewriteRule ^admin/(orders)/([0-9]{1,})*/*$							/jaws-content/page-admin-order.php?order=$2 [QSA]
RewriteRule ^admin/(users)/(new|[0-9]{1,})*/*$						/jaws-content/page-admin-user.php?user=$2 [QSA]

# Category
RewriteRule ^(products)/([0-9]+)(-[a-ö\-_]{1,})*/*$					/jaws-content/page-products.php?category=$2 [QSA]
																	

# Product
RewriteRule ^(products)/([0-9]+)(-[a-ö\-_]{1,})*/([0-9]{1,})+.*/*$ 	/jaws-content/page-product.php?category=$2&product=$4 [QSA]
																	

# Login/Register
RewriteRule ^(login|register|sign-up|signup|sign-in|signin)/*$ 		/jaws-content/page-login.php?login [QSA]
RewriteRule ^(logout)/*$ 											/jaws-content/page-home.php?logout [QSA]
																	
# Cart
RewriteRule ^cart*/*$ 												/jaws-content/page-cart.php?cart [QSA]
RewriteRule ^cart/([a-ö]{1,})*/*$ 									/jaws-content/page-cart.php?cart=$1 [QSA]


# Settings
RewriteRule ^settings/([a-ö]{1,})+/*$ 								/jaws-content/page-settings-$1.php [QSA]
RewriteRule ^settings/(orders)*/([0-9]*)/*$ 						/jaws-content/page-settings-order.php?order=$2 [QSA]
																	

# Search
RewriteRule ^search/([a-ö0-9]{1,})*/*$ 								/jaws-content/page-search.php?search=$1 [QSA]

# Page

RewriteRule ^([a-z]{1,})/*$ 										/jaws-content/page-$1.php?$1 [QSA]

# 404
ErrorDocument  404  												/jaws-content/404.php
RewriteRule ^([a-ö0-9]*)$ 											/jaws-content/404.php404=$1 [QSA]