RewriteEngine on 

# Home
RewriteRule ^/?$                                                    /index.php?home [QSA]
RewriteRule ^/(logout)/?$                                           /index.php?logout [QSA]

# Admin
RewriteRule ^admin/(search|products|categories|orders|users|currencies)?/*$    /index.php?admin=$1 [QSA]
RewriteRule ^admin/(search)/(\w+)*/*$                               /index.php?admin=$1&search=$2 [QSA]
RewriteRule ^admin/(products)/(new|\d+)+/*$                         /index.php?admin=$1&product=$2 [QSA]
RewriteRule ^admin/(categories)/(new|\d+)*/*$                       /index.php?admin=$1&category=$2 [QSA]
RewriteRule ^admin/(orders)/(\d+)*/*$                               /index.php?admin=$1&order=$2 [QSA]
RewriteRule ^admin/(users)/(new|\d+)*/*$                            /index.php?admin=$1&user=$2 [QSA]
RewriteRule ^admin/(currencies)/(new|\d+)*/*$                       /index.php?admin=$1&currency=$2 [QSA]

# Category
RewriteRule ^(products)/(\d+)-?(\w+)?/*$                            /index.php?$1&category=$2&category-name=$3 [QSA]

# Product
RewriteRule ^(products)/(\d+)-?(\w+)?/(\d+)-?(\S+)?/*$              /index.php?$1&category=$2&category-name=$3&product=$4&product-name=$5 [QSA]

# Login/Register
RewriteRule ^(login|sign-in|signin|register|sign-up|signup)/*$      /index.php?login [QSA]

# Cart
RewriteRule ^cart/(\w+)*/*$                                         /index.php?cart=$1 [QSA]

# Settings
RewriteRule ^settings/(\w+)/*$                                      /index.php?settings=$1 [QSA]
RewriteRule ^settings/(orders)/([0-9]*)/*$                          /index.php?settings=$1&order=$2 [QSA]

# Search
RewriteRule ^search/(\s+)*/*$                                       /index.php?search=$1 [QSA]

# Page
RewriteRule ^(\w+)/*$                                               /index.php?$1 [QSA]

# 404
ErrorDocument  404                                                  /index.php?404
RewriteRule ^(\w*)$                                                 /index.php?404=$1 [QSA]