<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Product Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/style.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<script defer src="js/main.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
		<section class="wrapper">
		<header class="site-head">
			<section class="wrapper">
				<img src="img/logotype.png">
			</section><!-- .wrapper -->
		</header>
		<nav class="site-nav">
			<ul>
				<li>NINTENDO</li>
				<li>SEGA</li>
				<li>PLAYSTATION</li>
				<li>ATARI</li>
				<li>XBOX</li>
				<li>OTHER</li>
			</ul>
		</nav>
			<article class="main-content">
				<section class="products">
					<article class="product">
						<img src="img/T-Shirt.jpg" class="product-image"/>
						<div class="product-meta">
							<h2 class="product-title">Product</h2>
							<span class="product-price">99 kr</span>
							<div class="product-add-to-cart-button">
								<img src="img/cart.png">
							</div>
						</div><!-- .product-meta -->
					</article>
					
				</section>
			</article>
			<footer>
				<span class="footer">Detta är en sidfot</span>
			</section><!-- .wrapper -->
		</footer>
		</section><!-- .wrapper -->
		
    </body>
</html>
